@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-dot-pattern {
  background-image: radial-gradient(rgba(255, 255, 255, 0.1) 2px, transparent 1px);
  background-size: 32px 32px;
}

.custom-bg {
  background-color: #0E0A00;
}

@layer base {
  a {
    @apply transition-colors duration-200;
  }
}
